
<div class="form_div">

<%= form_for @post do |f| %>
	<%= f.text_field :title, :class => "post_title", placeholder: "Post Title" %>

	<br>
	<br>

	<%= f.text_area :body, :class => "post_body", placeholder: "Write a Post!" %>

	<br>
	<br>

	<%= f.submit :class => "post_submit" %>

<% end %>

</div>