.pm_general {
	text-align: center;
	color: white;
	font-size: 40px;
}

.post_list {
	font-size: 24px;
	text-align: center;
	color: white;
}

.post_title {
	width:500px;
	height:50px;
	padding:10px;
	font-size:24px;	
}

.post_body {
	width:500px;
	height:300px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	font-size: 24px;
}

p {
	font-size: 24px;
	color:white;
	text-align: center;
}

.post_by {
	text-align: center;
	margin: 0 auto;
	color: white;
}

.post_container {
	background-color: rgba(0,0,0,0.6);
}

.edit_div {
	text-align: center;
}

/*-------comments styling--------*/

#comments {
	text-align: center;
	margin:0 auto;
	padding:10px;
	color: white;
}

.comment_display {
	padding: 30px;
}

.comment {
	font-size: 25px;
}

.comment_writer {
	font-size: 12px;
}









