body {
	background: url("day.jpg") no-repeat center fixed;
  background-size: cover;
}

.form_div {
	text-align: center;
	padding-top:120px;
}

input {
	background-color: rgba(169, 169, 169, 0.6);
	border-radius: 10px;
}

.submit {
	width: 150px;
	height:35px;
	font-size: 14px;
}

#email,
#password {
	width: 500px;
	height: 40px;
}

.user_name,
.user_email,
.user_password,
.user_avatar {
	width:500px;
	height:50px;
	padding:10px;
	font-size:24px;	
}

.user_avatar {
	width: 500px;
	margin: 0 auto;
}

.user_bio {
	width: 500px;
	height: 300px;
	padding: 10px;
	font-size: 24px;
}

p {
	text-align: center;
}

h1 {
	color: white !important;
	text-align: center;
}

.create_user {
	margin-left: 50px;
}

.bio {
	font-size: 30px;
}


